<%- include("header.ejs")%>
<%- include("menu.ejs")%>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">

            <p class="lead mb-3">Logged in as...</p>
            <a href="/admin/logout" class="btn btn-secondary">Logout</a>
            <br>
            <a href="/admin/registeradmin" class="btn btn-secondary btn-block">create new admin</a>

        </div>
    </div>
</div>

<%- include("footer.ejs")%>