<%- include("header.ejs")%> <%- include("menu.ejs")%>

<div class="contactInfo">
	<p class="">Kontakta oss på:</p>
	<ul class="contactList">
		<li>Mail: <a href="mailto:">info@info.se</a></li>
		<li>Adress: Adress 1337</li>
		<li>Leetville 420</li>
	</ul>
</div>
<%- include("footer.ejs")%>
