
<div class="footer">
	<div class="info-container">
		<ul class="footerlist">
			<li><a href="#">Hyr ut din egen</a></li>
			<li><span class="footer-text">Kontakt:</span><a href="mailto:info@info.se"> info@info.se</a></li>
			<li><a href="#">Regler och villkor</a></li>
			<li><span class="footer-text">Adress 1337</span></li>
			<li><span class="footer-text">Leetville 420</span></li>
		</ul>
	</div>
	<div class="socialmedia-container">
		<ul class="footerlist">
			<li class="social"><i class="fab fa-linkedin"></i><span>LinkedIn</span></li>
			<li class="social"><i class="fab fa-facebook-square"></i><span>Facebook</span></li>
			<li class="social"><i class="fab fa-instagram"></i><span>Instagram</span></li>
		</ul>
	</div>
</div>

