<%- include("header.ejs")%> 
<%- include("menu.ejs")%>
<title>C H O C C</title>

<section class="section">
  <h2>CHOCC</h2>
  <h4>
    Hyr eller hyr ut själv. Här hittar du toppklass-lägenheter runt om i världen och olika resetips!
  </h4>
  <br>
  <a href="/product">Se vad vi har att erbjuda just nu!</a>
  <br>
  <a href="#">Hyr ut själv!</a>
</section>
<section class="tips">
  <div class="tip">
    <div id="img-container1" class="images-class">
  
    </div>
    <div class="description-index" class="images-class">
      <h3>Streetfood or fine dining?</h3>
      <span></span>
    </div>
  </div>
  <div class="tip">
    <div id="img-container2" class="images-class">
  
    </div>
    <div class="description-index">
      <h3>Metropolitan Museum of Art</h3>
      <span></span>
    </div>
  </div>
  <div class="tip">
    <div id="img-container3" class="images-class">
  
    </div>
    <div class="description-index">
      <h3>Nånting by night</h3>
      <span></span>
    </div>
  </div>
  <div class="tip">
    <div id="img-container4" class="images-class">
  
    </div>
    <div class="description-index">
      <h3>Relax & Rehab</h3>
      <span></span>
    </div>
  </div>
</section>

<%- include("footer.ejs")%>
