<% products.forEach((product) => { %>
<div><%= product.city %></div>
<div><%= product.productprice %></div>
<% }) %>

<button id="btn">Buy</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
	var stripe = Stripe('pk_test_57op5ffYMwDvpOCsj52R54Mk00YNOL9mfN');
	document.querySelector('#btn').addEventListener('click', () => {
		stripe.redirectToCheckout({
			sessionId: '<%= sessionId %>'
		});
	});
</script>
